.container {
    width: 500px;
    margin: auto;
    box-shadow: 0 0 50px #C2C2C2;
}

h1 {
    width: 500px;
    margin: 30px auto;
    padding-left: 10px;
}

.row {
    margin: 10px 0;
}
.row > .row {
    padding-left: 30px;
}

label:not(.checkbox) {
    display: inline-block;
    min-width: 100px;
}
