.container {
    width: 500px;
    margin: auto;
    box-shadow: 0 0 50px #C2C2C2;
    padding: 20px;
}

h1 {
    width: 500px;
    margin: 30px auto;
    padding-left: 10px;
}

.row {
    margin: 5px 0;
}
