html, body {
    width: 200px;
    text-align: center;
    margin: 0;
    font-size: 90%;
    color: #333;
    font-family: Roboto;
}

header {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

h3 {
    margin: 0;
    font-weight: normal;
}

.about {
    color: #888;
    margin: 7px 0;
}
