html, body {
    width: 200px;
    text-align: center;
    margin: 0;
    font-size: 90%;
    color: #333;
    font-family: Roboto;
}

header {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

h3 {
    margin: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    list-style: none;
}

ul a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: Roboto Mono;
    font-size: 120%;
    padding: 5px;
}

ul li:not(:last-of-type) a {
    border-bottom: 1px solid #ddd;
}

ul a:hover {
    background-color: #eee;
}

ul a::after {
    content: "→";
    display: inline-block;
    margin: 0;
    transform: scaleX(0);
    font-family: var(--mono-fonts);
    opacity: 0;
    transition: all .2s;
}

ul a:hover::after {
    margin: 0 5px;
    transform: scaleX(1);
    opacity: 1;
}

.about {
        color: #888;
    margin: 7px 0;
}
}
