button {
    --greyish: #ECECEC;
    --greyish-light: #F0F0F0;
    background: var(--greyish);
    border: none;
    font-size: 100%;
    font-family: inherit;
    margin: 3px 5px;
    padding: 7px 5px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px #ccc;
    cursor: pointer;
    color: #444;
    vertical-align: middle;
    min-width: 60px;
    transition: all .2s;
}

button:hover {
    background-color: var(--greyish-light);
    box-shadow: 2px 4px 5px #ccc;
}

button.primary {
    background-color: var(--blue);
    color: white;
}

button.primary:hover {
    background-color: var(--blue-light);
}

button.big {
    font-size: 110%;
    padding: 10px 8px;
    min-width: 100px;
}

button:disabled {
    background-color: var(--greyish-light);
    cursor: default;
}

button.primary:disabled {
    background-color: var(--blue-light);
}

button:disabled:hover {
    box-shadow: 1px 2px 2px #ccc;
}
