.container {
    --tabs-offset-left: 20px;
}

.tabs {
    padding: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-left: var(--tabs-offset-left);
    margin: 0;
}

.tab {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #999;
    padding: 15px 0;
}

.tab.active {
    color: #333;
}

.tabs .underline {
    height: 3px;
    width: 50px;
    background-color: var(--blue);
    position: absolute;
    bottom: 0px;
    transition: all .2s;
    left: var(--tabs-offset-left);
}

.tabs-content {
    position: relative;
}

.tab-content {
    position: absolute;
    width: 100%;
    display: inline-block;
    top: 0;
    transform: translateX(-5px);
    opacity: 0;
    transition: all .5s;
    padding: 20px;
}

.tab-content.active {
    position: relative;
    z-index: 10;
    opacity: 1;
    transform: initial;
}
