* {
    box-sizing: border-box;
    outline: none;
}

:root {
    --mono-fonts: Inconsolata, monaco, consolas, monospace;
    --blue: #6990f7;
    --blue-light: #81A2F9;
}

body {
    font-family: Roboto;
    font-size: 100%;
    color: #333;
}

.text-center {
    text-align: center;
}

code {
    font-family: "Roboto Mono";
    background-color: #e8e8e8;
    padding: 1px 5px;
    border-radius: 3px;
    vertical-align: middle;
}

label {
    cursor: pointer;
}

a {
    color: var(--blue);
}
